# test
e2e
karma.conf.js
protractor.conf.js

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.editor-config

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
.gitignore

# config
.angular-cli.json
.travis.yml
tsconfig.json
tsconfig-release.json
tsconfig-aot.json
tslint.json
gulpfile.js
.github

# System Files
.DS_Store
Thumbs.db

# Tests
*.spec*
