
.test-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  flex-wrap: wrap;
}

ngz-charts-barchart ::ng-deep .bar {
  fill: green;
}

ngz-charts-scatterplot ::ng-deep .scatter-plot-data {
  fill: purple;
}

