<div class="test-area">
  <ngz-charts-barchart [x]="'day'"
                      [y]="'gold'"
                      [data]="testData"
  >
  </ngz-charts-barchart>


  <ngz-charts-barchart [x]="'day'"
                [y]="'gold'"
                [width]="400"
                [height]="800"
                [data]="testData2">
  </ngz-charts-barchart>
  <ngz-charts-barchart [x]="'day'"
                [y]="'gold'"
                [width]="300"
                [height]="600"
                [data]="testData2">
  </ngz-charts-barchart>
  <ngz-charts-scatterplot
    [data]="testData3"
    [x]="'x'"
    [y]="'y'"
    [dataPointShape]="'circle'">
  </ngz-charts-scatterplot>
  <ngz-charts-horizontal-bar-chart [y]="'day'"
  [x]="'gold'"
  [data]="testData"
                                   [height]="800"
                                   [width]="800"
  >

  </ngz-charts-horizontal-bar-chart>
  <ngz-charts-timeline
  [data]="timeData"
  [dateLabel]="'day'"
  [dateEvent]="'eventName'"></ngz-charts-timeline>
</div>





