<div class="test-area">
  <ng-charts-barchart [x]="'day'"
                      [y]="'gold'"
                      [data]="testData"
  >
  </ng-charts-barchart>


  <ng-charts-barchart [x]="'day'"
                [y]="'gold'"
                [width]="400"
                [height]="800"
                [data]="testData2">
  </ng-charts-barchart>
  <ng-charts-barchart [x]="'day'"
                [y]="'gold'"
                [width]="300"
                [height]="1000"
                [data]="testData2">
  </ng-charts-barchart>
</div>





